.idea
extractor/venv
extractor/.termdbms
extractor/demo-projects
extractor/kotlin-faker
extractor/resume
extractor/spectator
extractor/taxonomy
extractor/demo-projects.db
extractor/kotlin-faker.db
extractor/resume.db
extractor/spectator.db
extractor/taxonomy.db
evaluator/.termdbms
venv
evaluator/taxonomy.db
evaluator/resume.db
evaluator/kotlin-faker.db
evaluator/demo-projects.db
adapted_turbocommit/target
ai_commits/.termdbms
