.idea
extractor/.termdbms
extractor/demo-projects
extractor/kotlin-faker
extractor/resume
extractor/spectator
evaluator/.termdbms
venv
adapted_turbocommit/target
ai_commits/.termdbms
extractor/taxonomy
